<div class="container mt-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Checkout these articles</h1>

        </div>
    </div>
    {{#each article}}
    <div class="card">
        <div class="card-body">
            <div class="media">
                <a href={{link}}>
                    <img class="align-self-center mr-3 image" src={{image}} alt="Generic placeholder image">
                </a>
                <div class="media-body align-self-center">
                    <a class="link" href={{link}} style="text-decoration: none; color:black">
                        <h5 class="mt-0 title">{{title}}</h5>
                    </a>

                </div>
                <div class="align-self-end" style="float: right;">

                    <button class="card-link btn btn-outline-info saveArticle">Save Article</button>


                </div>
            </div>

        </div>
    </div>
    {{/each}}


    {{log article}}
</div>