<div class="container mt-4">
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4 text-center">Here are your articles!</h1>

        </div>
    </div>
    {{#each article}}
    <div class="card">
        <div class="card-body">
            <div class="media">
                <a href={{link}}>
                    <img class="align-self-center mr-3 image" src={{image}} alt="Generic placeholder image">
                </a>
                <div class="media-body align-self-center">
                    <a class="link" href={{link}} style="text-decoration: none; color:black">
                        <h5 class="mt-0 title">{{title}}</h5>
                    </a>

                </div>
                <div class="align-self-end" style="float: right;">

                    <button class="card-link writeNote seeNotes" data-toggle="modal"
                        data-target="#exampleModalCenter">Write a
                        Note</button>

                    <button class="deleteArticle" data-articleID={{_id}}>Delete Article</button>



                </div>

            </div>
            <div class="hiddenNotes" style="display: none;">
                <h5 class="modal-title" id="exampleModalLongTitle">Write a note:</h5>

                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Note:</label>
                        <textarea class="form-control bodyinput" id="message-text"></textarea>
                    </div>
                </form>
                <div class="modal-footer">

                    <button type="button" class="btn btn-primary saveNote">Save Note</button>
                    <button class="viewNotes"> View Notes</button>
                </div>
            </div>
            <div class="showNotes" style="display:none">
                <div id="notes">hi</div>
            </div>

        </div>
    </div>
    {{/each}}
</div>


{{!-- <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
</button> --}}

<!--Write note Modal -->
{{!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Write a note on: {{title}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Note:</label>
                        <textarea class="form-control" id="message-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary saveNote">Save Note</button>
            </div>
        </div>
    </div>
</div> --}}



{{!-- <!--See Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div> --}}